[Desktop Entry]
Name=Lazydocker
Exec=gnome-terminal -- bash -c "lazydocker"
Type=Application
Terminal=false
Icon=docker
Categories=Utility;Development;
