/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    color: #bebebe;
}


/* The whole bar */
#waybar {
    background-color: #404552;
    font-size: 18px;
    font-weight: 400;
}

.module {
    padding: 8px 8px;
}

.module:hover:not(#tray):not(#workspaces) {
    background-color: #5c616b;
}

#tray>*:hover {
    background-color: #5c616b;
}

#workspaces>button {
    padding: 0px 6px;
    font-size: 18px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

.warning,
.disconnected,
.muted {
    color: orange;
}

.critical {
    color: red;
}
