[Desktop Entry]
Name=Mini Motorways
Comment=Play this game on Steam
Exec=steam steam://rungameid/1127500
Icon=steam_icon_1127500
Terminal=false
Type=Application
Categories=Game;
