// BG:			#2E3436
// TEXT:		#77C4D3
// ACTION:	#06D6A0
// DANGER:	#EF476F
// NEUTRAL: #FFD166

* {
	fullscreen: true;
	font: "RobotoMono 30";
	text-color: #77C4D3;
	background-color: transparent;
}

window {
	background-color: #2E3436EE;
	padding: 300px 400px;
}

inputbar {
	margin: 0px 0px 50px 0px;
}

element {
	padding: 5px 0px;
  children: [ element-icon, element-text ];
}

element-text, element-icon {
  vertical-align: 0.5;
}

element-icon {
  size: 30px;
  padding: 0px 20px 0px 0px;
}