/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    color: #E5E9F0;
    transition: none;
}


/* The whole bar */
#waybar {
    background-color: #383E4A;
    font-size: 18px;
    font-weight: 400;
    /* border-bottom: 3px solid #81A1C1; */
}

.module {
    padding: 8px 8px;
}

#workspaces>button {
    padding: 0px 6px;
    font-size: 18px;
}

#workspaces.special * {
    color: grey;
}

.module:hover:not(#tray):not(#workspaces),
#tray>*:hover,
#workspaces>*:hover,
#workspaces>*:hover * {
    color: #383E4A;
    background-color: #81A1C1;
}


/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

.warning,
.disconnected,
.muted {
    color: orange;
}

.critical {
    color: #BF616A;
}
