/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    color: #eceff4;
    transition: none;
}


/* The whole bar */
#waybar {
    background-color: #2e3440;
    font-size: 18px;
    font-weight: 500;
    /* border-bottom: 3px solid #81A1C1; */
}

.module {
    padding: 8px 8px;
}

#workspaces {
    padding-right: 0px;
}

#workspaces.special {
    padding-left: 0px;
}

#workspaces>button {
    margin: -20px 0px;
    padding: 6px 6px;
    font-size: 18px;
    font-weight: bold;
}

#workspaces.special * {
    color: #4c566a;
}

.module:hover:not(#tray):not(#workspaces),
#tray>*:hover,
#workspaces>*:hover,
#workspaces>*:hover *,
#workspaces button.active,
#workspaces button.active * {
    color: #4c566a;
    background-color: #81a1c1;
}


/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

.warning,
.disconnected,
.muted {
    color: #d08770;
}

.critical {
    color: #bf616a;
}
