/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@define-color color-bg #222831;
@define-color color-bg2 #393E46;
@define-color color-accent #00ADB5;
@define-color color-text #EEEEEE;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @color-text;
    background: rgb(34, 40, 49);
    background: linear-gradient(90deg, rgba(34, 40, 49, 1) 0%, rgba(57, 62, 70, 0.00) 100%);
    font-weight: 600;
    font-family: Cantarell;
    font-size: 14px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}
